<div style="padding: 10px;"> 
<h4 style="text-align: center;"> Our partners include</h4>    
</div>
<div class="org-logos">
    <a href=" https://www.idems.international/" target="_blank">
        <img class="idems-logo" src=" assets/images/innodems-logo-v2.png">
    </a>

    <a href="https://www.facebook.com/africanmathsinitiative.net/?epa=SEARCH_BOX" target="_blank">
        <img class="idems-logo" src=" assets/images/ami_cropped.jpg">
    </a>

    <a href="https://samicharity.co.uk/" target="_blank">
        <img class="idems-logo" src=" assets/images/sami_logo.png">
    </a>

    <a href=" https://www.idems.international/" target="_blank">
        <img class="idems-logo" src=" assets/images/new_idems_logo.png">
    </a>

    <a href=" https://www.maseno.ac.ke/" target="_blank">
        <img class="idems-logo" src=" assets/images/maseno.png">
    </a>

    <a href="" target="_blank">
        <img class="idems-logo" src=" assets/images/iase.jpg">
    </a>

    <a href="" target="_blank">
        <img class="idems-logo" src=" assets/images/aimstz.jpg">
    </a>

</div>