<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<section class="team">
  <div class="container">    
<h4>R-Instat Installation Guide</h4>

<p> We strongly recommend following the installation guide the first time you install R-Instat.</p>

<p>Installation guide: <a href="assets/resources/Installation-Guide.pdf">PDF version</a>| <a href="https://github.com/africanmathsinitiative/R-Instat/wiki/Installation-Guide">Online version</a></p>

<h4>Introductory Tutorials</h4>

<p>If you are new to R-Instat, these tutorials are a good way to begin to familiarise yourself with how it works using real and interesting data sets.</p>

<ul>
  <li>Part 1: Describing Data <a href="assets/resources/Introductory-Tutorial--Part-1---Describing-Data.pdf">PDF version</a> |<a href="https://github.com/africanmathsinitiative/R-Instat/wiki/Introductory-Tutorial:-Part-1---Describing-Data">Online version</a> </li>
  <li>Part 2: A Second Data Set <a href="assets/resources/Introductory-Tutorial--Part-2---A-Second-Data-Set.pdf">PDF version</a> |<a href="https://github.com/africanmathsinitiative/R-Instat/wiki/Introductory-Tutorial:-Part-2---A-Second-Data-Set">Online version</a></li>
  <li>Part 3: Working with Labelled Data <a href="assets/resources/Introductory-Tutorial--Part-3---Working-with-Labelled-Data.pdf">PDF version</a>  |<a href="https://github.com/africanmathsinitiative/R-Instat/wiki/Introductory-Tutorial:-Part-3-Working-with-Labelled-Data">Online version</a> </li>
</ul>

<h4>Climatic Guide</h4>
<p>R-Instat includes a special climatic menu for the analysis for historical climatic data. The Climatic Guide is a comprehensive guide to R-Instat's climatic functionalities.</p>
<p>R-Instat Climatic Guide<a href="https://bit.ly/2GW8xU6">PDF version (48MB)</a> </p>


<h4>Tutorial Videos</h4>
<p>We are beginning to create a series of "How To" videos for R-Instat. Go to our <a href="https://www.youtube.com/watch?v=ISzrdfmFDR8&list=PLx5FJ5icCaj0_EWh6q7GfZdl01RACdueJ">YouTube playlist</a> to see the current collection.</p>

<h4>Built in Help</h4>
<p>Comprehensive help for each R-Instat dialog will be implemented soon. This will be accessbile through the Help button on each dialog, or the Help menu. As well as help on using the dialog, there will also be information about the R code and packages behind them, including direct links to R's documentation where approriate.</p>
    </div>
    </section>
