<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<section class="team">
  <div class="container">
    <h6 style="text-align: center;">Outline and History</h6>
    <P>The need for the software was described in the 3-minute video in the 2015 <a href="https://chuffed.org/project/africandatainitiative">crowd-sourcing campaign</a>  .The case was made for software with the properties shown on  <a href="https://www.youtube.com/watch?v=0_YAjLBVPrI&t=1s">this video</a>.We are guided by road map to delive R-Instat on time</P>
    <br>
    <p>R-Instat provides a front-end to R, designed to broaden the users of the software, particularly in Africa. "R is an open source programming language and software environment for statistical computing and graphics that is supported by the R Foundation for Statistical Computing. The R language is widely used among statisticians and data miners for developing statistical software and data analysis."</p>
    <br>
    <p>R’s reputation has grown incredibly in recent years. General information about R is <a href="https://www.r-project.org/about.html">here</a>  while the early history of R is given <a href="https://www.r-project.org/conferences/useR-2006/Slides/Chambers.pdf">here</a> . The original Instat was an easy to use statistics package, produced at the University of Reading, UK. It was designed to support good statistical practice. It also has a special menu for the analysis of historical climatic data.
      The ideas behind Instat have motivated the structure of the R-Instat menus and dialogues, though no line of the original code remains.</p>
    </div>
    <app-team></app-team>
    </section>
   
      
   



