<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<section class="team">
  <div class="container">
    <h6>Outline and History</h6>
    The need for the software was described in the 3-minute video in the 2015 crowd-sourcing campaign.The case was made for software with the properties shown on thisvideo We are guided by road map
    
    to deliver the quality of the software we need on time.
    R-Instat provides a front-end to R, designed to broaden the users of the software, particularly in Africa. "R is an open source programming language and software environment for statistical computing and graphics that is supported by the R Foundation for Statistical Computing. The R language is widely used among statisticians and data miners for developing statistical software and data analysis."
    R’s reputation has grown incredibly in recent years. General information about R is here while the early history of R is given here. The original Instat was an easy to use statistics package, produced at the University of Reading, UK. It was designed to support good statistical practice. It also has a special menu for the analysis of historical climatic data.
    The ideas behind Instat have motivated the structure of the R-Instat menus and dialogues, though no line of the original code remains.
    </div>
    </section>
 <app-team></app-team>


