<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<section class="team">
  <div class="container">
    <h4 style="text-align: center;">Download R-Instat</h4>
    <p style="text-align: center;"><a href="https://bit.ly/35jzZo8" target="_blank">R-Instat 0.6.3 Installer (.exe 550MB)</a></p>

    <p>R-Instat is currently a Windows only application. However, it can be accessed on Mac or Linux through use of a Virtual Windows Machine.</p>
    
   <h6>Installation & Documentation </h6>

    <p>Installation guide: <a href="assets/resources/Installation-Guide.pdf">PDF version</a> |<a href="https://github.com/africanmathsinitiative/R-Instat/wiki/Installation-Guide">Online version</a></p>
    
    <p><a href="/support">Introductory guides and Documentation</a> </p>
    
    <p>To see the changes made since the previous version check out the <a href="assets/resources/ReleaseNotes.pdf">Release Notes</a>.</p>
    
   <h6> Prerequisite Software </h6>
   <p> <a href="https://dotnet.microsoft.com/download">.NET Framework:</a> R-Instat is a .NET software and requires an up to date version of the .NET (at least 4.6.1) to be installed before it can run. Most new Windows version already have this. The installation process will tell you if your .NET needs to be updated. If you need to download it, you can download <a href="https://dotnet.microsoft.com/download">.NET Framework here.</a> </p>
    
    <p><a href="https://cran.r-project.org/bin/windows/Rtools/">Rtools:</a>  R-Instat requires Rtools to export data to Excel files. If you do not intend to use this feature, you do not need to download Rtools. If you would like to you can <a href="https://cran.r-project.org/bin/windows/Rtools/">download Rtools here.</a></p>
    
    <p><a href="https://cran.r-project.org/">R:</a>  R-Instat includes a built in copy of R (currently version 3.6.2), which performs all data processing in R-Instat. You do not need to download R separately to use R-Instat. If you would like to know more about R see <a href="https://cran.r-project.org/"> here</a> </p>
    </div>
    </section>
