<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<section class="team">
  <div class="container">
    <h4 style="text-align: center;">R-Instat Developers</h4>
    We are more than happy to welcome any developer to take on the task of making R-Instat better.
    We welcome you to get a copy of source code in our Github page
    </div>
    </section>
