<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<section class="team">
  <div class="container">
    <h6>Welcome to the R-Instat website. </h6>
    R-Instat is a free, open source statistical software that is easy to use, even with low computer literacy. It encourages good statistical practices and learning, by opening the door for training to emphasise concepts rather than theory.
    
    This software is designed to support improved statistical literacy in Africa and beyond, through work undertaken primarily within Africa.
    In resource rich environments, students should ideally become familiar with more than one package and R-Instat might sometimes be a useful addition to the mix. In resource poor environments R-Instat combined with R-Studio is designed to be sufficient for student needs.
    </div>
    </section>
